{% extends '@EasyAdmin/crud/form_theme.html.twig' %}

{% block _EnergyStation_googlePlace_id_widget %}
    {{ form_widget(form) }}
    <a href="{{ ea_url() .setController('App\\Admin\\Controller\\GooglePlaceCrudController') .setAction('edit') .setEntityId(form.vars.ea_crud_form.ea_field.value) }}">Link
        to entity</a>
{% endblock %}

{% block _EnergyStation_address_id_widget %}
    {{ form_widget(form) }}
    <a href="{{ ea_url() .setController('App\\Admin\\Controller\\AddressCrudController') .setAction('edit') .setEntityId(form.vars.ea_crud_form.ea_field.value) }}">Link
        to entity</a>
{% endblock %}

{% block _EnergyStation_energyStationBrand_id_widget %}
    {{ form_widget(form) }}
    <a href="{{ ea_url() .setController('App\\Admin\\Controller\\EnergyStationBrandCrudController') .setAction('edit') .setEntityId(form.vars.ea_crud_form.ea_field.value) }}">Link
        to entity</a>
{% endblock %}
